@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<div class="container mt-4">
    <h2>Gizlilik Politikası</h2>
    <p>Bu sitede yer alan bilgiler sadece hayvan sahiplenme işlemleri için kullanılmaktadır.</p>
    <p>Kişisel verileriniz gizlilik politikamız kapsamında korunmaktadır.</p>
</div>